@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
@import url('https://fonts.googleapis.com/css?family=Oxygen:700');
@import url('https://fonts.googleapis.com/css?family=Dhurjati');
html{background-color: aliceblue}
body {
  font-family: 'Oxygen', sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: auto;
  color: #444;
  width: 900px;
}

button {
  font-family: 'Oxygen', sans-serif;

}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 32px;
  text-align: left


}

h1 {
  font-family: 'Oxygen Mono', monospace;
}




#submitButton{
  width: 200px;
  height: 30px;
  font-family: "Merriweather", serif;
  background-color: green;
  font-size: 18px;
  color: white
}

#timerButton {
  width: 200px;
  height: 30px;
  font-family: "Merriweather", serif;
  font-size: 18px;

}
#continueButton{
width: 200px;
  height: 60px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  background-color: #f4bc42;
  position: relative;
  top: 133px;
}
#requestTrue {
  width: 200px;
  height: 60px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  background-color: #70ff8c;
  position: relative;
  top: -50px;
  border-radius: 36px;
}
#requestFalse {
  width: 200px;
  height: 60px;
  font-family: "Merriweather", serif;
  font-size: 18px;
  background-color: #fc3c32;
  color: white;
  position: relative;
  top: -50px;
  border-radius: 36px;
}

#img {margin:auto;
width: 900px;
}
#parent {
    position: relative;
}
#child {
    position: relative;
}

#autoButtonSuccess {
    position: absolute;
    top: -60px; /* 379 */
    left: 20%;
    height: 50px;
    width: 200px;
    color: white;
    background-color: #4CAF50;
    border: 2px solid #078249;
}
#autoButtonFail {
    position: absolute;
    top: -60px;
    right: 20%;
    height: 50px;
    width: 200px;
    color: white;
    background-color: #ce0411;
    border: 2px solid #7c020a;
}

/* Climbing buttons */
#parked {position:absolute;
    top: 369px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
    width: 120px;
    background-color: #665034;
    color: white
}
#climbAttempt {position:absolute;
    top: 369px;
    left: 36%;
    transform: translate(-50%, 0%);
    height: 50px;
    width: 120px;
    background-color: #04efe0
}
#deployRamps {position:absolute;
    top: 369px;
    right: 36%;
    transform: translate(50%, 0%);
    height: 50px;
    width: 120px;
    background-color: #ffa221
}
#leaveParked {position:absolute;
    top: 420px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
    width: 120px;
    background-color: #636363;
    color: white
}
#climbSuccess {position:absolute;
    top: 400px;
    left: 36%;
    transform: translate(-50%, 0%);
    height: 65px;
    width: 120px;
    background-color: #04efe0
}
#returnToParked {position:absolute;
    top: 400px;
    right: 36%;
    transform: translate(50%, 0%);
    height: 65px;
    width: 120px;
    background-color: #665034;
    color: white
}
#climbFailed {position:absolute;
    top: 369px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 65px;
    width: 140px;
    background-color: #820000;
    color: white
}
#oneRamp {position:absolute;
    top: 420px;
    left: 36%;
    transform: translate(-50%, 0%);
    height: 50px;
    width: 110px;
    background-color: #d89a7d
}
#twoRamp {position:absolute;
    top: 420px;
    right: 36%;
    transform: translate(50%, 0%);
    height: 50px;
    width: 110px;
    background-color: #d1736e
}
#undoRamp {position:absolute;
    top: 369px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
    width: 110px;
    background-color: #665034;
    color: white
}
/* End climb section */

#RE {position:absolute;
    top: 122px;
    left: 6.5%;
    height: 50px;
    width: 100px;
    color: white;
    background-color: #dd3b3b}

#RS {position:absolute;
    top: 158px;
    left: 24.5%;
    height: 50px;
    width: 100px;
    color: white;
    background-color: #dd3b3b}
#S {position: absolute;
    top: 158px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 50px;
    width: 100px;
    color: white;
    background-color: #a252f9}

#BE {position: absolute;
    top: 195px;
    right: 6.4%;
    height: 50px;
    width: 100px;
    color: white;
    background-color: #5c32f2
    }
#BS {position: absolute;
    top: 158px;
    right: 24.3%;
    height: 50px;
    width: 100px;
    color: white;
    background-color: #5c32f2}

#CRS {position: absolute;
      top: 295px;
      left: 20%;
      height: 50px;
      width: 142px;
      color: white;
      background-color: #dd3b3b}

#CBS {position: absolute;
    top: 295px;
    right: 19.8%;
    height: 50px;
    width: 142px;
    color: white;
    background-color: #5c32f2}

#undo {position: absolute;
    top: 0px;
    right: 0px;
    width: 160px;
    height: 54px;
    color: white;
    background-color: #ff0000}

#droppedCubeButton {position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 54px;
    background-color: yellow}
